In [5]:
import pandas as pd
dfcur=pd.read_csv("C:/Users/anbar/OneDrive/Desktop/Global electronics/df_currency.csv")
dfcur.head()

         Date Currency  Exchange
0  2015-01-01      USD    1.0000
1  2015-01-01      CAD    1.1583
2  2015-01-01      AUD    1.2214
3  2015-01-01      EUR    0.8237
4  2015-01-01      GBP    0.6415

In [24]:
dfcur['Date']= pd.to_datetime(dfcur['Date'], format="%Y-%m-%d")

In [6]:
import pandas as pd
dfcus=pd.read_csv("C:/Users/anbar/OneDrive/Desktop/Global electronics/df_customer.csv")
dfcus.head()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,1965-11-19

In [7]:
import pandas as pd
dfpro=pd.read_csv("C:/Users/anbar/OneDrive/Desktop/Global electronics/df_product.csv")
dfpro.head()

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio

In [8]:
import pandas as pd
dfsal=pd.read_csv("C:/Users/anbar/OneDrive/Desktop/Global electronics/df_sales.csv")
dfsal.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaN,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD

In [9]:
import pandas as pd
dfsto=pd.read_csv("C:/Users/anbar/OneDrive/Desktop/Global electronics/df_stores.csv")
dfsto.head()

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,2008-01-01
1,2,Australia,Northern Territory,665.0,2008-01-12
2,3,Australia,South Australia,2000.0,2012-01-07
3,4,Australia,Tasmania,2000.0,2010-01-01
4,5,Australia,Victoria,2000.0,2015-12-09

In [10]:
df_sales_customers = pd.merge(dfsal, dfcus, on='CustomerKey', how='inner')

In [ ]:
df_sales_customers

In [12]:
df_sales_customers_product=pd.merge(df_sales_customers,dfpro, on='ProductKey', how='inner')

In [13]:
df_sales_customers_product

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Gender,...,Birthday,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,366000,1,2016-01-01,NaN,265598,10,1304,1,CAD,Male,...,1971-03-23,Contoso Lens Adapter M450 White,Contoso,White,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,Male,...,1995-11-20,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Male,...,1995-11-20,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,220.64,665.94,803,Microwaves,8,Home Appliances
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Female,...,1962-08-24,Contoso SLR Camera M146 Orange,Contoso,Orange,148.08,322.00,402,Digital SLR Cameras,4,Cameras and camcorders
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Female,...,1962-08-24,Adventure Works Laptop8.9 E0890 White,Adventure Works,White,166.20,326.00,301,Laptops,3,Computers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaN,1216913,43,632,3,USD,Male,...,1939-04-16,WWI Screen 85in E1010 White,Wide World Importers,White,70.87,139.00,305,Projectors & Screens,3,Computers
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR,Female,...,1940-03-10,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Silver,55.18,120.00,106,Bluetooth Headphones,1,Audio
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD,Male,...,1993-05-25,SV DVD 7-Inch Player Portable E200 White,Southridge Video,White,56.08,109.99,602,Movie DVD,6,"Music, Movies and Audio Books"
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD,Male,...,1993-05-25,MGS Flight Simulator X M250,Tailspin Toys,Pink,32.25,70.13,702,Download Games,7,Games and Toys
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD,Male,...,1993-05-25,Proseware LCD22W M2001 Black,Proseware,Black,224.97,679.00,304,Monitors,3,Computers

In [14]:
df_sales_customers_product_store=pd.merge(df_sales_customers_product,dfsto, on='StoreKey', how='inner')

In [15]:
df_sales_customers_product_store

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Gender,...,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Country_y,State_y,Square Meters,Open Date
0,366000,1,2016-01-01,NaN,265598,10,1304,1,CAD,Male,...,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,2015-04-04
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,Male,...,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Male,...,220.64,665.94,803,Microwaves,8,Home Appliances,Online,Online,NaN,2010-01-01
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Female,...,148.08,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Female,...,166.20,326.00,301,Laptops,3,Computers,Online,Online,NaN,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaN,1216913,43,632,3,USD,Male,...,70.87,139.00,305,Projectors & Screens,3,Computers,United States,Alaska,1190.0,2015-01-01
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR,Female,...,55.18,120.00,106,Bluetooth Headphones,1,Audio,Online,Online,NaN,2010-01-01
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD,Male,...,56.08,109.99,602,Movie DVD,6,"Music, Movies and Audio Books",Online,Online,NaN,2010-01-01
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD,Male,...,32.25,70.13,702,Download Games,7,Games and Toys,Online,Online,NaN,2010-01-01
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD,Male,...,224.97,679.00,304,Monitors,3,Computers,Online,Online,NaN,2010-01-01

In [21]:
pd.set_option('display.max_columns', None)   #printing full columns
#pd.set_option('display.max_rows', None)       #printing full rows
df_sales_customers_product_store

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Gender,Name,City,State Code,State_x,Zip Code,Country_x,Continent,Birthday,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Country_y,State_y,Square Meters,Open Date
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD,Male,Tyler Vaught,London,ON,Ontario,N5W 5K6,Canada,North America,1971-03-23,Contoso Lens Adapter M450 White,Contoso,White,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,2015-04-04
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,220.64,665.94,803,Microwaves,8,Home Appliances,Online,Online,NaN,2010-01-01
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,Contoso SLR Camera M146 Orange,Contoso,Orange,148.08,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,Adventure Works Laptop8.9 E0890 White,Adventure Works,White,166.20,326.00,301,Laptops,3,Computers,Online,Online,NaN,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaT,1216913,43,632,3,USD,Male,Donald Woodie,Garden Grove,CA,California,92643,United States,North America,1939-04-16,WWI Screen 85in E1010 White,Wide World Importers,White,70.87,139.00,305,Projectors & Screens,3,Computers,United States,Alaska,1190.0,2015-01-01
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR,Female,Gabriele Thalberg,Stuttgart Frauenkopf,BW,Baden-Württemberg,70184,Germany,Europe,1940-03-10,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Silver,55.18,120.00,106,Bluetooth Headphones,1,Audio,Online,Online,NaN,2010-01-01
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25,SV DVD 7-Inch Player Portable E200 White,Southridge Video,White,56.08,109.99,602,Movie DVD,6,"Music, Movies and Audio Books",Online,Online,NaN,2010-01-01
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25,MGS Flight Simulator X M250,Tailspin Toys,Pink,32.25,70.13,702,Download Games,7,Games and Toys,Online,Online,NaN,2010-01-01
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25,Proseware LCD22W M2001 Black,Proseware,Black,224.97,679.00,304,Monitors,3,Computers,Online,Online,NaN,2010-01-01

In [2]:
import pandas as pd

In [17]:
df_sales_customers_product_store['Order Date']= pd.to_datetime(df_sales_customers_product_store['Order Date'], format="%Y-%m-%d")

In [19]:
df_sales_customers_product_store['Delivery Date']= pd.to_datetime(df_sales_customers_product_store['Delivery Date'], format="%Y-%m-%d")

In [20]:
df_sales_customers_product_store['Open Date']= pd.to_datetime(df_sales_customers_product_store['Open Date'], format="%Y-%m-%d")

In [26]:
overall = pd.merge(df_sales_customers_product_store, dfcur, how='inner', left_on=['Order Date', 'Currency Code'], right_on=['Date', 'Currency'])

In [25]:
dfcur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [27]:
overall

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Gender,Name,City,State Code,State_x,Zip Code,Country_x,Continent,Birthday,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Country_y,State_y,Square Meters,Open Date,Date,Currency,Exchange
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD,Male,Tyler Vaught,London,ON,Ontario,N5W 5K6,Canada,North America,1971-03-23,Contoso Lens Adapter M450 White,Contoso,White,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,2015-04-04,2016-01-01,CAD,1.3884
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20,A. Datum SLR Camera X136 Silver,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01,2016-01-01,USD,1.0000
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Black,220.64,665.94,803,Microwaves,8,Home Appliances,Online,Online,NaN,2010-01-01,2016-01-01,USD,1.0000
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,Contoso SLR Camera M146 Orange,Contoso,Orange,148.08,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01,2016-01-01,CAD,1.3884
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24,Adventure Works Laptop8.9 E0890 White,Adventure Works,White,166.20,326.00,301,Laptops,3,Computers,Online,Online,NaN,2010-01-01,2016-01-01,CAD,1.3884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaT,1216913,43,632,3,USD,Male,Donald Woodie,Garden Grove,CA,California,92643,United States,North America,1939-04-16,WWI Screen 85in E1010 White,Wide World Importers,White,70.87,139.00,305,Projectors & Screens,3,Computers,United States,Alaska,1190.0,2015-01-01,2021-02-20,USD,1.0000
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR,Female,Gabriele Thalberg,Stuttgart Frauenkopf,BW,Baden-Württemberg,70184,Germany,Europe,1940-03-10,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Silver,55.18,120.00,106,Bluetooth Headphones,1,Audio,Online,Online,NaN,2010-01-01,2021-02-20,EUR,0.8238
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25,SV DVD 7-Inch Player Portable E200 White,Southridge Video,White,56.08,109.99,602,Movie DVD,6,"Music, Movies and Audio Books",Online,Online,NaN,2010-01-01,2021-02-20,CAD,1.2610
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25,MGS Flight Simulator X M250,Tailspin Toys,Pink,32.25,70.13,702,Download Games,7,Games and Toys,Online,Online,NaN,2010-01-01,2021-02-20,CAD,1.2610
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25,Proseware LCD22W M2001 Black,Proseware,Black,224.97,679.00,304,Monitors,3,Computers,Online,Online,NaN,2010-01-01,2021-02-20,CAD,1.2610